<div class="min-h-screen bg-gray-100 overflow-x-hidden">

  <!-- SIDEBAR -->
  <aside class="fixed top-0 left-0 h-screen w-64 z-30">
    <app-employee-nav-bar></app-employee-nav-bar>
  </aside>

  <!-- MAIN CONTENT -->
  <div class="ml-64 min-h-screen flex flex-col">
    <main class="flex-1 bg-gray-100 text-slate-800 p-6 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- FOOTER -->
  <footer class="w-full bg-[#E9E9E9] relative z-50">
    <app-footer></app-footer>
  </footer>

</div>